<!doctype html>
<html>
	<head>
		<title>Example of a Chat on Express.js and Socket.i</title>
		<style>
			#chat{
				height: 500px;
			}
			#chatWrap{
				float: left;
				border: 1px #000 solid;
			}
			#contentWrap{
				display: none;
			}
			#userTitle{
				display: none;
			}
		</style>
	</head>
	<body>
		<!-- 
		<div id="nickWrap">
			<p>Enter a username</p>
			<p id="nickError">				
			</p>
			<form id="setNick">
				<input size="35" id="nickname"/>
				<button>Send</button>
			</form>
		</div> -->
		
		<div id="contentWrap">
			<div id="chatWrap">
				<ul id="chat"></ul>
				<form action="">
					<input id="m" size = "35" autocomplete="off" />
					<button>Send</button>
				</form>
			</div>
			<div id="users">
				
			</div>
		</div>

		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    	<script>
    	
    		var socket = io();
    		var $nickForm = $('#setNick');
    		var $nickBox = $('#nickname');

    		$nickForm.submit(function(){
    			
    			socket.emit('new user', $nickBox.val(), function(data){
    				if(data){
    					$('#nickWrap').hide();
    					$('#contentWrap').show();
    				} else {
    					$('#nickError').html('That usename is already taken');
    				}
    			});

    			$nickBox.val('');
    		});

    		socket.on('usernames', function(data){
    			var html= '';
    			for(i = 0; i < data.length; i++)
    			{
    				html += data[i] + '<br/>'
    			}
    			$('#users').html(html);
    		})

			$('form').submit(function(e){
				e.preventDefault();
				socket.emit('chat message', $('#m').val(), function(data){
					$('#chat').append('<b>' + data + '<br/>');
				});
				$('#m').val('');
				return false;
			});
			
			socket.on('chat message', function(data){
				//$('#chat').append($('<li>').text(msg));
				$('#chat').append('<b>' + data.nick + ': <b>' + data.msg + '<br/>');
			});

			socket.on('add user', function(data){
				console.log("Damos la bienvenida al nuevo usuario");
				$('#chat').append('<p> Se ha unido al chat ' + data + '</p>');
				/*if (action == "conectado"){
					$('#chat').append('<p>' + mensaje + '</p>');
				}*/
			});

			socket.on('secret', function(data){
				//$('#chat').append($('<li>').text(msg));
				$('#chat').append('<b>' + data.nick + ': <b>' + data.msg + '<br/>');
			});
    	</script>
	</body>
</html>