<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" >
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/landing-page.css">

	</head>
	<body>
		<div class="container">
			<div calss="jumbotron text-center">
				<h1><span class="fa fa-lock"></span> MyChat.io</h1>
				<h3><span class="fa fa-lock"></span> An example of Node.js app</h3>

				<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
			</div>
			
		</div>

		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	</body>
